# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
.infracost/pricing.gob
.infracost/terraform_modules/manifest.json

# OS and Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~
terraform/.terraform.lock.hcl
